<section class="mainContentSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle">
          <h2><span>Products</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div itemscope itemtype="http://schema.org/Product">
          <div class="thumbnail deals hotelgrid">
            <a itemprop="url" href="{{ site.url }}/steel-structure-building/"><img itemprop="image" src="{{ site.url }}/images/steel-structure-building/steel-structure-building.jpg" alt="Steel Structure Building"></a>
            <div class="caption text-center">
              <h4 class="captionTitle"><span itemprop="name">Steel Structure Building</span></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div itemscope itemtype="http://schema.org/Product">
          <div class="thumbnail deals hotelgrid">
            <a itemprop="url" href="{{ site.url }}/container-house/"><img itemprop="image" src="{{ site.url }}/images/container-house/container-house.jpg" alt="Container House"></a>
            <div class="caption text-center">
              <h4 class="captionTitle"><span itemprop="name">Container House</span></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div itemscope itemtype="http://schema.org/Product">
          <div class="thumbnail deals hotelgrid">
            <a itemprop="url" href="{{ site.url }}/prefab-house/"><img itemprop="image" src="{{ site.url }}/images/prefab-house/prefab-house.jpg" alt="Prefab House"></a>
            <div class="caption text-center">
              <h4 class="captionTitle"><span itemprop="name">Prefab House</span></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div itemscope itemtype="http://schema.org/Product">
          <div class="thumbnail deals hotelgrid">
            <a itemprop="url" href="{{ site.url }}/sandwich-panel/"><img itemprop="image" src="{{ site.url }}/images/sandwich-panel/sandwich-panel.jpg" alt="Sandwich Panel"></a>
            <div class="caption text-center">
              <h4 class="captionTitle"><span itemprop="name">Sandwich Panel</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>