<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/wanjinlong-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="WANJINLONG">
    <link type="text/css" rel="stylesheet" href="{{ site.url }}/assets/application.css">{% if page.category == 'home' %}
    <script type="text/javascript" src="{{ site.url }}/assets/application.js"></script>{% endif %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TRLJX42FHH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TRLJX42FHH');
    </script>
  </head>
  <body>
    <header id="luxbar" class="luxbar-fixed">
      <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox">
      <div class="luxbar-menu luxbar-menu-right luxbar-menu-white">
        <div class="container">
          <ul class="luxbar-navigation">
            <li class="luxbar-header">
              <a href="{{ site.url }}"><img src="{{ site.url }}/images/assets/wanjinlong-logo.png" width="270" height="53" alt="WANJINLONG Logo"></a>
              <label class="luxbar-hamburger luxbar-hamburger-doublespin" id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>
            <li class="luxbar-item dropdown {% if page.category == 'products' %}active{% endif %}"><a>Products</a>
              <ul>
                <li class="luxbar-item {% if page.title == 'Steel Structure Building' %}active{% endif %}"><a href="{{ site.url }}/steel-structure-building/">Steel Structure Building</a></li>
                <li class="luxbar-item {% if page.title == 'Container House' %}active{% endif %}"><a href="{{ site.url }}/container-house/">Container House</a></li>
                <li class="luxbar-item {% if page.title == 'Prefab House' %}active{% endif %}"><a href="{{ site.url }}/prefab-house/">Prefab House</a></li>
                <li class="luxbar-item {% if page.title == 'Sandwich Panel' %}active{% endif %}"><a href="{{ site.url }}/sandwich-panel/">Sandwich Panel</a></li>
              </ul>
            </li>
            <li class="luxbar-item {% if page.category == 'case' %}active{% endif %}"><a href="{{ site.url }}/case/">Case</a></li>
            <li class="luxbar-item {% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">News</a></li>
            <li class="luxbar-item dropdown {% if page.category == 'about' %}active{% endif %}"><a>About</a>
              <ul>
                <li class="luxbar-item {% if page.title == 'About WANJINLONG' %}active{% endif %}"><a href="{{ site.url }}/about/">About WANJINLONG</a></li>
                <li class="luxbar-item {% if page.title == 'History' %}active{% endif %}"><a href="{{ site.url }}/history/">History</a></li>
                <li class="luxbar-item {% if page.title == 'Honors' %}active{% endif %}"><a href="{{ site.url }}/honors/">Honors</a></li>
              </ul>
            </li>
            <li class="luxbar-item {% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="margin-top-58"></div>
    {{ content }}
    <footer>
      <div class="footer clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div itemscope itemtype="http://schema.org/Organization">
                <div class="footerContent">
                  <h5>Contact Us</h5>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i><span itemprop="address">{{ site.address }}</span></li>
                    <li><i class="fa fa-phone"></i><a href="tel:{{ site.tel1 }}"><span itemprop="telephone">{{ site.tel1 }}</span></a></li>
                    <li><i class="fa fa-phone"></i><a href="tel:{{ site.tel2 }}"><span itemprop="telephone">{{ site.tel2 }}</span></a></li>
                    <li><i class="fa fa-fax"></i><span itemprop="faxNumber">{{ site.fax }}</span></li>
                    <li><i class="fa fa-envelope-o"></i><a href="mailTo:{{ site.email }}"><span itemprop="email">{{ site.email }}</span></a></li>
                  </ul>
                  <ul class="list-inline">
                    <li><a itemprop="url" href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a itemprop="url" href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a itemprop="url" href="{{ site.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a itemprop="url" href="{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerContent">
                <h5>Products</h5>
                <ul class="list-unstyled">
                  <div itemscope itemtype="http://schema.org/Product">
                    <li><i class="fa fa-angle-double-right"></i><a itemprop="url" href="{{ site.url }}/steel-structure-building/"><span itemprop="name">Steel Structure Building</span></a></li>
                  </div>
                  <div itemscope itemtype="http://schema.org/Product">
                    <li><i class="fa fa-angle-double-right"></i><a itemprop="url" href="{{ site.url }}/container-house/"><span itemprop="name">Container House</span></a></li>
                  </div>
                  <div itemscope itemtype="http://schema.org/Product">
                    <li><i class="fa fa-angle-double-right"></i><a itemprop="url" href="{{ site.url }}/prefab-house/"><span itemprop="name">Prefab House</span></a></li>
                  </div>
                  <div itemscope itemtype="http://schema.org/Product">
                    <li><i class="fa fa-angle-double-right"></i><a itemprop="url" href="{{ site.url }}/sandwich-panel/"><span itemprop="name">Sandwich Panel</span></a></li>
                  </div>
                </ul>
              </div>
            </div>
            <div class="col-sm-5 col-xs-12 hidden-xs">
              <div class="footerContent">
                <h5>Last News</h5>
                <ul class="list-unstyled">{% for post in site.categories["news"] limit:7 %}
                  <div itemscope itemtype="http://schema.org/Article">
                    <li><i class="fa fa-angle-double-right"></i><a itemprop="url" href="{{ site.url }}{{ post.url }}"><span itemprop="headline">{{ post.title }}</span></a></li>{% endfor %}
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyRight clearfix">
        <div class="container">
          <div itemscope itemtype="http://schema.org/Organization">
            <div class="col-sm-12 text-center">Copyright © 1998-2023 <span itemprop="name">Beijing Wan Jin Long Color-Coated Steel Products Co.,Ltd.</span> | <a href="{{ site.url }}/sitemap.xml" target="_blank">Sitemap</a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-to-top"><a href="#"><img src="{{ site.url }}/images/assets/up.png" width="26" height="26" alt="Back To Top"></a></div>
  </body>
</html>