---
layout: pages
---
<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div itemscope itemtype="http://schema.org/Article">
          <div class="thumbnail blogSinglePost">
            <div class="caption">
              <h2 class="text-center"><span itemprop="headline">{{ page.title }}</span></h2>
              <ul class="list-inline blogInfo text-center">
                <li><i class="fa fa-calendar"></i><span itemprop="dateCreated">{{ page.date | date:"%d %b %Y" }}</span></li>
                <li><i class="fa fa-tags"></i><span itemprop="keywords">{{ page.keywords }}</span></li>
              </ul>
              <span itemprop="articleBody">
                {{ content }}
              </span>
              <p class="text-center"><a href="{{ site.url }}/news/" class="btn buttonTransparent margin-top-30">More News</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>